<% content_for :title do %>Three Wise Men Inc. Consulting Services<% end %>
<% content_for :description do %>We have helped many companies overcome what appeared to be significant barriers at the time.<% end %>
<% content_for :keywords do %>performance tuning, performance optimized, systems integration, team communications, software development processes, testing, automated testing, integration testing, unit testing<% end %>

<h1><img src="/images/consulting-trans.png" alt="Consulting Logo" /><%= @intro.headline %></h1>
<div class="inset"><%= @intro.contents %></div>

<div id="consultingrealms">
  <ul>
    <li><a href="#perf"><%= @performance.headline %></a></li>
    <li><a href="#glue"><%= @integration.headline %></a></li>
    <li><a href="#team"><%= @communication.headline %></a></li>
    <li><a href="#processes"><%= @development.headline %></a></li>
    <li><a href="#testing"><%= @testing.headline %></a></li>
  </ul>

  <div id="perf" class="realm">
    <%= @performance.contents  %>
  </div>

  <div id="glue" class="realm">
    <%= @integration.contents %>
  </div>

  <div id="team" class="realm">
    <%= @communication.contents %>
  </div>

  <div id="processes" class="realm">
   <%= @development.contents %>
  </div>

  <div id="testing" class="realm">
    <%= @testing.contents %>
  </div>

</div>

<script type="text/javascript">
  $("#consultingrealms").tabs({
    fx: { opacity: 'toggle', duration: 'fast' },
    cookie: { expires: 1, name: "twm_tab_consulting" }
  });
</script>
