- content_for :title do
  Three Wise Men Inc. Consulting Services
- content_for :description do
  We have helped many companies overcome what appeared to be significant barriers at the time.
- content_for :keywords do
  performance tuning, performance optimized, systems integration, team communications, software development processes, testing, automated testing, integration testing, unit testing, oshawa, whitby, durham, toronto, ontario, canada
%h1
  = image_tag('consulting-trans.png', :alt => 'Consulting Logo')
  = @intro.headline
.inset= @intro.contents.html_safe
#consultingrealms
  %ul
    %li
      %a{:href => "#perf"}= @performance.headline
    %li
      %a{:href => "#glue"}= @integration.headline
    %li
      %a{:href => "#team"}= @communication.headline
    %li
      %a{:href => "#processes"}= @development.headline
    %li
      %a{:href => "#testing"}= @testing.headline
  #perf.realm
    = @performance.contents.html_safe
  #glue.realm
    = @integration.contents.html_safe
  #team.realm
    = @communication.contents.html_safe
  #processes.realm
    = @development.contents.html_safe
  #testing.realm
    = @testing.contents.html_safe
:javascript
  $("#consultingrealms").tabs({
    fx: { opacity: 'toggle', duration: 'fast' },
    cookie: { expires: 1, name: "twm_tab_consulting" }
  });
