<% content_for :title do %>Three Wise Men Inc. Software Development Services<% end %>
<% content_for :description do %>Software development services utilizing the most prominent technologies such as Java, Ruby On Rails, Microsoft .NET<% end %>
<% content_for :keywords do %>java, java software development, hibernate, ejb3, seam, jboss, glassfish, apache, fop, batik, jackrabbit, lucene, rails, ruby, ruby on rails, ruby consulting, rails software development, ruby software development, dotnet, .net, oracle, microsoft sql server, oracle, postgresql, mysql, oshawa, whitby, durham, toronto, ontario, canada<% end %>

<h1><img src="/images/development-trans.png" alt="Development Logo" /><%= @intro.headline %></h1>

<div class="inset"><%= @intro.contents %></div>

<div id="technologies">
  <ul>
    <li><a href="#java"><%= @java.headline %></a></li>
    <li><a href="#rails"><%= @rails.headline %></a></li>
    <li><a href="#dotnet"><%= @dotnet.headline %></a></li>
    <li><a href="#database"><%= @database.headline %></a></li>
    <li><a href="#expectations"><%= @expect.headline %></a></li>
    <li><a href="#pricing"><%= @budgeting.headline %></a></li>
  </ul>

  <div id="java" class="tech">
    <img src="/images/tech_logos/java-64x128.png" alt="Java"/>
    <%= @java.contents %>
    <div style="clear: both"></div>
  </div>

  <div id="rails" class="tech">
    <img src="/images/tech_logos/rails-100x128.png" alt="Rails"/>
    <%= @rails.contents %>
    <div style="clear: both"></div>
  </div>

  <div id="dotnet" class="tech">
    <img src="/images/tech_logos/dotnet-117x111.png" alt=".NET"/>
    <%= @dotnet.contents %>
    <div style="clear: both"></div>
  </div>

  <div id="database" class="tech">
    <img src="/images/tech_logos/postgresql-95x51.png" alt="PostgreSQL"/>
    <%= @database.contents %>
    <div style="clear: both"></div>
  </div>

  <div id="expectations" class="tech">
    <%= @expect.contents %>
  </div>

  <div id="pricing" class="tech">
    <%= @budgeting.contents %>
  </div>

</div>

<script type="text/javascript">
  var $tabs = $("#technologies").tabs({
    fx: { opacity: 'toggle', duration: 'fast' },
    cookie: { expires: 1, name: "twm_tab_dev" }
  });
<% if params[:id] -%>
  $tabs.tabs('select', <%= dev_tab_index(params[:id]) %>);
<% end -%>
</script>
