<% content_for :title do %>Three Wise Men Inc. Application Hosting, Video Hosting<% end %>
<% content_for :description do %>Application hosting focuses on ensuring a functional application rather than just server uptime. Video hosting automated by our specialized tooling and distributed by Amazon Cloud.<% end %>
<% content_for :keywords do %>application hosting, java hosting, ruby hosting, rails hosting, ruby on rails hosting, video hosting, oshawa, whitby, durham, toronto, ontario, canada<% end %>

<h1><img src="/images/apphosting-trans.png" alt="Hosting Logo" /><%= @intro.headline %></h1>
<%= @intro.contents  %>

<div id="hostingplans" class="ui-tabs-hide">
  <ul>
    <li><a href="#video"><%= @video.headline %></a></li>
    <li><a href="#shared1"><%= @shared1.headline %></a></li>
    <li><a href="#shared2"><%= @shared2.headline %></a></li>
    <li><a href="#shared3"><%= @shared3.headline %></a></li>
    <li><a href="#ded1"><%= @dedicated1.headline %></a></li>
    <li><a href="#ded2"><%= @dedicated2.headline %></a></li>
    <li><a href="#custom"><%= @custom.headline %></a></li>
    <li><a href="#pricing"><%= @pricing.headline %></a></li>
  </ul>

  <div id="video" class="plan">
    <%= @video.contents %>
  </div>

  <div id="shared1" class="plan">
    <%= @shared1.contents %>
  </div>

  <div id="shared2" class="plan">
    <%= @shared2.contents %>
  </div>

  <div id="shared3" class="plan">
    <%= @shared3.contents %>
  </div>

  <div id="ded1" class="plan">
    <%= @dedicated1.contents %>
  </div>

  <div id="ded2" class="plan">
    <%= @dedicated2.contents %>
  </div>

  <div id="custom" class="plan">
    <%= @custom.contents %>
  </div>

  <div id="pricing" class="plan">
    <%= @pricing.contents %>
  </div>

</div>
<div style="clear: both"></div>

<script type="text/javascript">
  $("#hostingplans").tabs({
    fx: { opacity: 'toggle', duration: 'fast' },
    cookie: { expires: 1, name: "twm_tab_hosting" }
  });
</script>
