<% content_for :title do %>Three Wise Men Inc. Software Development and Consulting<% end %>
<% content_for :description do %>We provide outsourced application development and consulting services to either replace or complement in-house development talent. We also help companies improve their own software development practices by adopting agile processes and tools.<% end %>
<% content_for :keywords do %>java, ruby on rails, ruby, xml, xsl, xsl:fo, xslt, content management, content transformation, content publishing, multi-tenant content management<% end %>

<div class="mainpanel">
  <%= @article.contents %>
</div>
<div class="service1">
    <%= link_to image_tag("/images/development-trans.png"), :action => "development" %>
    <h2>Application Development</h2>
    <p>
        Unparalleled technical skill and the world's best open-source foundations at your disposal.
    </p>
    <p class="more"><%= link_to "read more...", { :action => "development" }, :class => "linkmarker" %></p>
</div>
<div class="service2">
    <%= link_to image_tag("/images/consulting-trans.png"), :action => "consulting" %>
    <h2>Consulting</h2>
    <p>
        A critical eye, creative and practical
        solutions for your tough problems.
    </p>
    <p class="more"><%= link_to "read more...", { :action => "consulting" }, :class => "linkmarker" %></p>
</div>
<div class="service3">
    <%= link_to image_tag("/images/apphosting-trans.png"), :action => "hosting" %>
    <h2>Application Hosting</h2>
    <p>
        Unparalleled 100% uptime guarantee for qualified applications.
    </p>
    <p class="more"><%= link_to "read more...", { :action => "hosting" }, :class => "linkmarker" %></p>
</div>
<div class="bottom"></div>

<div id="blog">
  <h1><span style="color: #aaa">Latest blog from our CEO:</span> <%= @blog_item.title %></h1>
  <p>
      <%= @blog_item.summary.gsub(/\s+\[\.\.\.\]/, "...") %>
      <%= link_to "read more...", { :action => "blogentry", :id => blog_strip_id(@blog_item.id) }, :class => "linkmarker" %>
  </p>
</div>

<script type="text/javascript">
  $("#blog").corner("11px");
</script>