<div class="mainpanel">
    <h1><%= @blog_item.title %></h1>
    <p>
        <%= @blog_item.summary %>
    </p>
    <p><%= link_to "read more...", { :action => "blogentry", :id => blog_strip_id(@blog_item.id) }, :class => "linkmarker" %></p>
</div>
<div class="service1">
    <img src="/images/development.png" />
    <h2>Application Development</h2>
    <p>
        Unparalleled technical skill and the world's best open-source foundations at your disposal.
    </p>
    <p class="more"><%= link_to "read more...", { :action => "content" }, :class => "linkmarker" %></p>
</div>
<div class="service2">
    <img src="/images/consulting.png" />
    <h2>Consulting</h2>
    <p>
        A critical eye, creative and practical
        solutions for your tough problems.
    </p>
    <p class="more"><%= link_to "read more...", { :action => "content" }, :class => "linkmarker" %></p>
</div>
<div class="service3">
    <img src="/images/apphosting.png" />
    <h2>Application Hosting</h2>
    <p>
        Unparalleled 100% uptime guarantee for qualified applications.
    </p>
    <p class="more"><%= link_to "read more...", { :action => "content" }, :class => "linkmarker" %></p>
</div>
<div class="bottom"></div>
