- content_for :title do
  Three Wise Men Inc. Software Development and Consulting
- content_for :description do
  We provide outsourced application development and consulting services to either replace or complement in-house development talent. We also help companies improve their own software development practices by adopting agile processes and tools.
- content_for :keywords do
  java, ruby on rails, ruby, xml, xsl, xsl:fo, xslt, content management, content transformation, content publishing, multi-tenant content management, oshawa, whitby, durham, toronto, ontario, canada
.mainpanel
  %h1{:style => "display: none"} Agile Software Development
  //= @article.contents.html_safe
  %p
    Having trouble keeping your developers focused, interested and delivering consistent results?
  %p
    Managing a software development team takes careful planning, and a great deal of effort to maintain
    an environment and culture that is conducive to sustainable performance.
  %p
    Let us take care of that for you, and you'll see the TWM difference:
  %ul
    %li Well equipped, engaged developers
    %li Relevant, current and practiced skills
    %li Consistent results regardless of project length

.service1
  = link_to image_tag("/images/team.png"), :action => "team"
  %h2 Managed Dev Team
  %p
    A cross-functional 3-person team, tuned for the work at hand, and ready to do the heavy lifting.
  %p.more= link_to "read more...", { :action => "team" }, :class => "linkmarker"
.service2
  = link_to image_tag("/images/dev.png"), :action => "developer"
  %h2 Managed Developer
  %p
    An appropriately skilled developer, good for maintenance tasks and light work.
  %p.more= link_to "read more...", { :action => "developer" }, :class => "linkmarker"
.service3
  = link_to image_tag("/images/apphosting-trans.png"), :action => "infrastructure"
  %h2 Managed Project Infrastructure
  %p
    The tools we provide during every managed on-demand engagement.
  %p.more= link_to "read more...", { :action => "infrastructure" }, :class => "linkmarker"
.bottom
- if @blog_item
  #blog
    %h1
      %span{:style => "color: #aaa"} Latest blog from our CEO:
      = @blog_item.title
    %p
      != strip_html(@blog_item.summary.html_safe)
      = link_to "read more...", { :action => "blogentry", :id => blog_strip_id(@blog_item.id) }, :class => "linkmarker"
  :javascript
    $("#blog").corner("11px");
