<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<%= render :partial => "layouts/head" %>
<body onload="page_init()">
    <div id="shell">
<%= render :partial => "/layouts/banner" %>
        <div id="home_body">
          <div class="contentpaneldark">
            <%= yield %>
          </div>
          <div class="submenu_shadow"></div>
        </div>
    </div>
<%= render :partial => "/layouts/copyright" %>
<%= render :partial => "/layouts/analytics" %>
</body>
</html>