<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Three Wise Men Inc. Software Development and Consulting - 416-848-0709</title>
    <%= stylesheet_link_tag 'base' %>
    <%= javascript_include_tag 'jquery-1.3.2.min' %>
    <%= javascript_include_tag 'jquery.cycle.all.min' %>
    <%= javascript_include_tag 'jquery.easing.1.3' %>
    <%= javascript_include_tag 'jquery.qtip-1.0.0-beta3.1.min' %>
    <%= javascript_include_tag 'jquery.corner' %>
    <%= javascript_include_tag 'application' %>
</head>
<body>
    <div id="shell">
        <div class="banner">
            <div class="banner_right">
                <div id="tech_logos">
                    <img src="/images/tech_logos/rails.png" />
                    <img src="/images/tech_logos/java.png" />
                    <img src="/images/tech_logos/hibernate.png" />
                    <img src="/images/tech_logos/seam.png" />
                    <img src="/images/tech_logos/postgresql.png" />
                    <img src="/images/tech_logos/jboss.png" />
                    <img src="/images/tech_logos/glassfish.png" />
                </div>
            </div>
            <div class="contact_info">
                Toronto:<br />
                <strong>416-848-0709</strong><br />
                <div style="height: 4pt"></div>
                Oshawa:<br />
                <strong>905-436-2319</strong>
            </div>
            <div class="left_quote"></div>
            <div class="right_quote"></div>
            <div class="quote">
                <blockquote>
                    ...Three Wise Men provides Lakeridge Health with analysis,
                    recommendations and execution of web initiatives that are on-time and within budget.
                    We continue to be impressed with their professional approach to our needs and results
                    that exceed our expectations. It’s great having them on our team...
                </blockquote>
                <div class="credit">
                    Lakeridge Health Corp.
                </div>
            </div>
        </div>
        <ul id="mainmenu">
            <li class="first <%= sense_page("home", "index") %>"><%= link_to "Home", :controller => "home", :action => "index"  %></li>
            <li class="<%= sense_page("home", "dev") %>"><%= link_to "Application Development", :controller => "home", :action => "dev" %></li>
            <li class="<%= sense_page("home", "hosting") %>"><%= link_to "Application Hosting", :controller => "home", :action => "hosting" %></li>
            <li class="<%= sense_page("home", "success") %>"><%= link_to "Success Stories", :controller => "home", :action => "success" %></li>
            <li class="<%= sense_page("home", "contact") %>"><%= link_to "Contact Us", :controller => "home", :action => "contact" %></li>
            <li class="<%= sense_page("tools", "index") %>"><%= link_to "Customer Tools", :controller => "home", :controller => "tools", :action => "index" %></li>
        </ul>
        <ul id="submenu">
            <li><a href="content.html">Technologies</a></li>
            <li><a href="content.html">Partnerships</a></li>
        </ul>
        <div id="home_body">
            <div class="submenu_shadow"></div>
            <%= yield %>
        </div>
    </div>
    <div id="copyright">
        Design and content copyright © 2009 Three Wise Men Inc., All Rights Reserved. Read our Privacy Statement.<br />
        Java and all Java-based marks are trademarks or registered trademarks of Sun Microsystems Inc.
        in the United States and other countries.
    </div>
</body>
</html>